(
    // Background, Bottom, Top, Overlay
    layer: Top,

    // If set to `true` notification will not respect already allocated exclusive zones (bar, etc)
    ignore_exclusive_zones: false,

    // we are respect freedesktop timeouts
    // this parameter is for notification with undefined expiration
    expire_timeout: 5000,

    icon_size: 72,

    // Off, Error, Warn, Info, Debug, Trace
    log_level: Info,

    show_app_name: false,

    // that icon is used in upper right corner
    window_close_icon: "window-close",

    // some action keys can not have matching icon names
    // that map used as an alias for buttons icons
    icons_alias: {
        "inline-reply": "mail-reply",
        "dismiss": "window-close",
    },

    // the oldest notification will be closer to anchored edge
    reverse: false,

    // Action (button click/default action) should not close notification
    // Notification sender can call close on action but not all do that
    // (setting this to `true` will respect to what sender do on action)
    stay_on_action: false,

    // (width, height)
    // (410, 30) - optimal size for display 40 characters in 12px font with 5px window "padding"
    window_size: (410, 30),

    // window anchors (position)
    // Left, Right, Top, Bottom
    // using two opposite anchors to stretch window(s) is not allowed
    edges: {
        Top: (
            margin: 5,
            padding: 5,
        ),
        Right: (
            margin: 5,
            padding: 0,
        )
    },
)
